In [1]:
# !pip install yfinance

Requirement already satisfied: yfinance in /home/hduser/anaconda3/lib/python3.11/site-packages (0.2.37)
Requirement already satisfied: pandas>=1.3.0 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (2.4.1)
Requirement already satisfied: peewee>=3.16.2 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /home/hduser/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /home/hduser/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /home/hduser/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /home/hduser/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/hduser/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /home/hduser/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/hduser/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/hduser/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/hduser/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /home/hduser/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2024.2.2)

In [7]:
import yfinance as yf
from pyspark.sql import SparkSession


# Create a Spark session
spark = SparkSession.builder.appName("StocksDataFrameToCSV").getOrCreate()

24/04/14 02:34:47 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [8]:
df = yf.download("AMZN")

[*********************100%%**********************]  1 of 1 completed

In [9]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6772 entries, 1997-05-15 to 2024-04-12
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       6772 non-null   float64
 1   High       6772 non-null   float64
 2   Low        6772 non-null   float64
 3   Close      6772 non-null   float64
 4   Adj Close  6772 non-null   float64
 5   Volume     6772 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 370.3 KB

In [11]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,6772.000000,6772.000000,6772.000000,6772.000000,6772.000000,6.772000e+03
mean,35.736946,36.162943,35.279714,35.731408,35.731408,1.391249e+08
std,51.740289,52.338296,51.096551,51.722972,51.722972,1.386093e+08
min,0.070313,0.072396,0.065625,0.069792,0.069792,9.744000e+06
25%,2.060985,2.100000,2.019875,2.059500,2.059500,6.602150e+07
50%,8.118750,8.249750,8.038500,8.154000,8.154000,1.029480e+08
75%,48.899627,49.152125,48.387501,48.827376,48.827376,1.575920e+08
max,187.720001,189.770004,185.509995,189.050003,189.050003,2.086584e+09

In [7]:
df.head()

                Open      High       Low     Close  Adj Close      Volume
Date
1997-05-15  0.121875  0.125000  0.096354  0.097917   0.097917  1443120000
1997-05-16  0.098438  0.098958  0.085417  0.086458   0.086458   294000000
1997-05-19  0.088021  0.088542  0.081250  0.085417   0.085417   122136000
1997-05-20  0.086458  0.087500  0.081771  0.081771   0.081771   109344000
1997-05-21  0.081771  0.082292  0.068750  0.071354   0.071354   377064000

In [12]:
# Convert to a Pyspark Dataframe
spark_df = spark.createDataFrame(df)

In [14]:
# Check the schema
spark_df.printSchema()
spark_df.show()

root
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Volume: long (nullable = true)

+-------------------+-------------------+-------------------+-------------------+-------------------+----------+
|               Open|               High|                Low|              Close|          Adj Close|    Volume|
+-------------------+-------------------+-------------------+-------------------+-------------------+----------+
|0.12187500298023224|              0.125|0.09635400027036667|0.09791699796915054|0.09791699796915054|1443120000|
|0.09843800216913223|0.09895800054073334| 0.0854170024394989| 0.0864579975605011| 0.0864579975605011| 294000000|
|0.08802100270986557|0.08854199945926666|0.08124999701976776| 0.0854170024394989| 0.0854170024394989| 122136000|
| 0.0864579975605011|0.08749999850988388|0.08177100121974945|0.08177100121974945|0.08177100121974945| 109344000|
|0.08177100121974945|0.08229199796915054|0.06875000149011612|0.07135400176048279|0.07135400176048279| 377064000|
|0.07187499850988388|0.07239600270986557|0.06562499701976776| 0.0697920024394989| 0.0697920024394989| 235536000|
|    0.0703129991889|0.07604199647903442|0.06666699796915054|0.07500000298023224|0.07500000298023224| 318744000|
|0.07552099972963333|0.08229199796915054|0.07291699945926666|0.07916700094938278|0.07916700094938278| 173952000|
|0.08124999701976776|0.08177100121974945|0.07656300067901611|0.07656300067901611|0.07656300067901611|  91488000|
|0.07708299905061722|0.07708299905061722|0.07395800203084946|0.07525999844074249|0.07525999844074249|  69456000|
|0.07500000298023224|0.07552099972963333|0.07395800203084946|0.07500000298023224|0.07500000298023224|  51888000|
|0.07552099972963333|0.07656300067901611|0.07500000298023224|0.07552099972963333|0.07552099972963333|  11832000|
|0.07656300067901611|0.07656300067901611|0.07395800203084946|0.07395800203084946|0.07395800203084946|  23664000|
|0.07395800203084946|0.07447899878025055| 0.0697920024394989| 0.0708329975605011| 0.0708329975605011|  61608000|
| 0.0708329975605011|0.07708299905061722|0.06875000149011612|0.07708299905061722|0.07708299905061722| 113448000|
|0.07578100264072418| 0.0854170024394989|0.07552099972963333|0.08281300216913223|0.08281300216913223| 156144000|
|0.08281300216913223| 0.0854170024394989|0.08281300216913223|0.08437500149011612|0.08437500149011612|  47040000|
| 0.0854170024394989| 0.0854170024394989|0.07656300067901611|0.07916700094938278|0.07916700094938278| 109176000|
|0.07968799769878387|0.08020800352096558|0.07656300067901611|0.07708299905061722|0.07708299905061722|  23760000|
|0.07916700094938278|0.08229199796915054|0.07760400325059891|0.08020800352096558|0.08020800352096558|  32640000|
+-------------------+-------------------+-------------------+-------------------+-------------------+----------+
only showing top 20 rows

In [16]:
# generate a CSV and save it to HDFS
spark_df.write.csv('hdfs:///ca3/amazon_2.csv')